* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body {
  background: linear-gradient(black, rgb(22, 22, 22));
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden
}

a {
  color: white;
  text-decoration: none;
}

.container {
  text-align: center;
  margin: 5vh auto;
}

img {
  width: 15%;
}

ul {
  list-style: none;
  margin: 24px 0;
}

h1 {
  color: white;
  font-size: 8vh;
  margin-top: 12px;
  margin-bottom: 8px;
}

ul li a:hover {
  background: rgb(58, 58, 58);
  border-bottom: 3px solid rgb(150, 150, 150);
  transform:rotate(2);
}

ul li a {
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 30%;
  background: rgb(28, 28, 28);
  border-radius: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

img.icon {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  padding: 4px;
  border: rgb(194, 194, 194) solid 4px;
}

footer{
  color: white;
}

span:hover {
  border-bottom: 1px solid #FFF;
}

span {
  font-weight: bolder;
}

.userinfo {
  color: rgb(126, 126, 126);
  font-weight: bolder;
}

@media screen and (max-width: 760px) {

  body{
    margin: 5vh;
    overflow-y: hidden
  }
  
  img.icon {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    padding: 4px;
    border: rgb(194, 194, 194) solid 4px;
  }

  ul li a {
    margin-top: 12px;
    margin-bottom: 6px;
    height: 60px;
    width: 100%;
    background: rgb(28, 28, 28);
    border-radius: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}